.cart_item{
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    img{
        max-width: 70px;
        max-height: 70px;
        object-fit: contain;
        object-position: center;
    }
}

.title{
    font-size: 14px;
    margin-bottom: 8px;
    max-width: 150px;
}

.price{
    max-width: 150px;
    font-weight: 700;
    font-size: 14px;    
}

.close{
    max-width: 32px;
    max-height: 32px;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
}